body{
   
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background: black;
    color: white;
    font-weight: bold;
}
h1{
    font-size: 3rem;
}
a{
    color: green;
}